form {
    input,
    textarea {
        background: #fff;
        color: #444;
        padding: 12px 14px !important;
        border: 1px solid #CFC6BA;
        outline: none;
    }

}

.form-inline--input,
.form-inline--button {
    display: inline-block;
  //  height: 50px;
}

.form-inline {

}
