.gform_wrapper {

    // hide this stuff
    input + label,
    .gfield_label {
        display: none;
    }

    button {
        font-size: 24px;
    }

    // custom radio selection
    ul.gfield_radio {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;

            @include media-above($break-small) {
                width: 50%;
            }

            &:last-child {
                @include media-above($break-small) {
                    width: 100%;
                }
            }

            input {
                display: none !important;
            }

            input + label {
                background: lighten($tan, 3.5%);
                padding: 16px;
                color: $purple;
                font-family: $sans-serif;
                margin: 8px 15px 0 0;
            }

            input:checked + label {
                background: $purple;
                color: $tan;
            }

            h3 {
                margin-top: 2px;
                font-weight: bold;
                font-family: $serif;
            }

            .price {
                margin-top: 10px;
            }
        }
    }

    input[type="text"] + label {
        display: none !important;
    }

    .gform_page_footer {
        text-align: center;
        border-top: none !important;
    }
    
    // Error
    .gfield_error .gfield_label {
        color: #5A2B45;
    }
    .validation_message {
        color: #5A2B45;
        font-family: $sans-serif;
    }
    li.gfield.gfield_error, 
    li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        border: none !important;
        background: none !important;
    }
    
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
    li.gfield_error textarea {
        border: 1px solid #F16975 !important;
    }

    .gfield_checkbox li label,
    .gfield_radio li label {
      max-width: 100% !important;
      height: 100%;
    }
    
    ul.gfield_radio li,
    ul.gfield_radio li:last-child {
        width: auto !important;
    }

}
