// ==== NAVIGATION ==== //

.nav-posts {
  @extend %clearfix;
  @extend %spacer-below-3;
}

.nav-previous {
  box-sizing: border-box;
  float: left;
  padding-right: spacer(1/2);
  width: 50%;
}

.nav-next {
  box-sizing: border-box;
  float: right;
  padding-left: spacer(1/2);
  text-align: right;
  width: 50%;
}

// Navigation
.header-navigation {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    @include media-above($break-small) {
        display: block;
    }

    a {
      display: block;
      color: $text-color;
      font-size: 18px;
      margin-bottom: 0.45em;
      line-height: 2;
    }

}
