// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    60em;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   48em;
$break-medium:  54em;
$break-large:   60em;

// A standard margin
$spacer:        30px;

$green: #B5E8DB;
$tan: #F5EEE3;
$purple: #542E45;
$pink: #F16975;
$black: #3C3B3A;

$footer-background: $purple;
$site-background-color: $tan;
$text-color: $black;
$book-button: $green;



$sans-serif: 'din-2014', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', 'Liberation Sans', Arimo, sans-serif;
$serif: 'essonnes-text', 'Georgia', serif;

/*!
Theme Name: Perma Weddings
Author: Patrick Little
Author URI: http://patrick-little.com
Description: Wordpress Theme for Perma Wedding s
Version: 0.1
Text Domain: permaweddings
*/
