// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
  background: #F6EEE3;
  color: $text-color;
  font-family: $serif;
  line-height: 1.4444;
  transform: translateZ(0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: normal;
  line-height: 1.22222;
}

a {
    border: 0;
    color: inherit;
    text-decoration: none;
    transition: color 100ms ease-out;
    color: $text-color;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

p {
    padding-bottom: 1em;
}
