// ==== HELPERS ==== //

%center {
  @include scut-center-block;
}
%clearfix {
  @include scut-clearfix;
}
%hide {
  @include scut-hide-visually;
}
%spacer-above {
  margin-top: spacer();
}
%spacer-above-2 {
  margin-top: spacer(2);
}
%spacer-above-3 {
  margin-top: spacer(3);
}
%spacer-below {
  margin-bottom: spacer();
}
%spacer-below-2 {
  margin-bottom: spacer(2);
}
%spacer-below-3 {
  margin-bottom: spacer(3);
}

// Responsive Embeds
.responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.responsive-embed iframe,  
.responsive-embed object,  
.responsive-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-content {
    img, 
    iframe, 
    object, 
    embed {
        max-width: 100%;
    }
}
