h1 {
  font-family: $serif;
  font-size: 36px;
  letter-spacing: 0;
  color: $purple;
  font-weight: bold;
}

h1 a {
    color: $purple;

    &:hover {
        color: $pink;
    }
}

h2 {
    font-size: 31px;
    margin: 0;
}

h5,
.entry-meta {
    font-size: 16px;
    letter-spacing: 0.25em;
}

p {
    font-family: $serif;
    font-size: 18px;
    line-height: 1.76;
}

hr {
    display: block;
    border: 0;
    height: 60px;
    background: url('./assets/img/squares.png') no-repeat top center;
    padding-bottom: 1em;
    margin: 20px 0;
}

.button {
    font-family: $sans-serif;
    background: $green;
    color: $purple;
    padding: 0.75em 1.5em !important;
    letter-spacing: 2px;
    border-radius: 60px;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: ease all 100ms;
    cursor: pointer;
    
    &:hover {
        background: darken($green, 5%);
    }
}
