.site-footer {
    background-color: $footer-background;
    color: $tan;
    padding: 40px 0;
}

.footer-navigation {
  //@extend %clearfix;

  // .footer-navigation-column {
    // //@include media-above($break-small) {
    //     width: 50%;
    //     float: left;
    // }

    // @include media-above($break-medium) {
    //     width: 25%
    // }
  // }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      // color: $text-color;
    }
  }
}

//footer social tags
.social {
  text-align: center;
}

svg {
  fill: #f16975;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 3% 1.5% 1.5%;
}

// Copyright

.copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
    opacity: 0.3;
}
