// Default Header Layout

.site-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.site-branding {
    text-align: center;

    @include media-above($break-small) {
        display: inline-block;
        text-align: left;
    }
    
    a,
    a:hover {
        color: $purple;
        
    }
    
    .header-logo {
        max-width: 260px;
        margin-top: 10px;
    
        @include media-above($break-small) {
            max-width: 440px;
        }
        // 
        // @include media-above($break-medium) {
        //     max-width: 440px;
        // }
    }
}
// 
// .header-logo {
//     height: auto;
//     width: 140px;
//     line-height: 1;
// 
//     @include media-above($break-small) {
//         display: inline-block;
//     }
// }

.site-navigation {
    @include media-above($break-small) {
        display: inline-block;
        float: right;
    }
}

.homepage-header {
    display: flex;
    background: $pink;
    min-height: 400px;
    flex-direction: column-reverse;
    
    @include media-above($break-small) {
        flex-direction: row;
        min-height: 500px;
    }
    
    @include media-above($break-medium) {
        flex-direction: row;
        min-height: 520px;
    }
    
    .logo {
        margin-bottom: 0;
    }
    
    .message {
        position: relative;
        color: $tan;
        z-index: 2;
        top: -50px;
        
        @include media-above($break-small) {
            top: 0;
            padding-left: 20px;
            width: 230px;    
        }
                
        .header-content {
            padding: 0 20px;
            
            @include media-above($break-small) {
                padding: 0;
                width: 200%;
            }
        }
        
        p {
            font-size: 26px;
            margin-top: 10px;
            
            @include media-above($break-small) {
                font-size: 35px;
                line-height: 1.45;
            }
            
        }
        
        &:after {
            @include media-above($break-small) {
                content: '';
                position: absolute;
                top: 0;
                right: -100%;
                width: 250px;
                height: 250px;
                background-color: $pink;
                background-size: cover;
                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
                clip-path: polygon(0 0, 0% 100%, 100% 0);
                z-index: -1;
            }
        }
    }
    
    .header-button {
        text-align: center;
        font-size: 24px;
    }
    
    .perma-picture {
        flex: 1;
        background-image: url('./assets/img/perma.jpg');
        background-size: cover;
        background-position: center center;
        z-index: 1;
        min-height: 300px;
    }
    
    + .wrap-main .page-container {
        padding-top: 80px;
    }
}
