// ==== LAYOUT ==== //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens

body,
html {
  margin: 0;
  padding: 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrap-main {
    @extend %clearfix;
    flex: 1;
    position: relative;
    top: -0.25px;
}

.page-container {
    max-width: 700px;
    margin: 0 auto 2em;
}

.site-title {
  margin-top: 0;
  pointer-events: none;
}

.site-description {
  @extend %hide;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}

// Container Layout
.container {
    margin: auto;
    padding: 0 15px;

    @include media-above($break-small) {
        max-width: $break-small;
    }

    @include media-above($break-medium) {
        max-width: $break-medium;
        padding: 0 30px;
    }

    @include media-above($break-large) {
        max-width: $break-large;
    }
}
