.page-header {
    text-align: center;

    h1 {
        display: inline-block;
        padding-bottom: 15px;

        @include media-above($break-small) {
          font-size: 42px;
        }
    }
}

.page-featured-image img {
  display: block;
  width: 100%;
  height: auto;
}

.page-container {
    margin: auto;
    max-width: 680px;
    padding: 160px 20px;
}
