.shape-wrap {
    position: relative;
}

.shapes {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    .top-left {
        position: absolute;
        top: 0;
        width: 250px;
        height: 250px;
        background-color: $pink;
        background-size: cover;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
    }

    .left-center {
        position: absolute;
        top: 60%;
        width: 200px;
        height: 200px;
        background-color: #E3CfC3;
        background-size: cover;
        clip-path: polygon(0 0, 0% 100%, 50% 50%);
    }

    .right-center {
        position: absolute;
        top: 30%;
        right: 0;
        width: 200px;
        height: 200px;
        background-color: #E3CfC3;
        background-size: cover;
        clip-path: polygon(100% 0, 100% 98%, 50% 50%);
    }
}